.blog-preview {
    background: white;
    padding: 10px 16px;
    margin: 20px 0; 
    border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
    background: white;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
    background: white;
    font-size: 20px;
    color: #f1356d; 
    margin-bottom: 8px;
    background: none;
}
.blog-preview a { 
    background: white;
    text-decoration: none;
}